@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

//theme color
:root {
    --dark: #231f20;
    --light: #f4f5f6;
    --extra-light: #cccccc;
    --primary: #ef544b;
    --secondry: #ef544b;
    --dark-gray: #414142;
    --blue: #007bff;
    --white: #fff;
    --gray: #6c757d;
}